@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Harmattan', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

.comment-container {
  height: 40vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.comment-container .comment {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  direction: rtl;
  margin-bottom: 3rem;
}

.comment-container .comment h4 {
  margin: 0 1rem;
}
